body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
p {
  color: red;
  text-align: center;
}
.icon {
  margin: right;
  width: 10%;
  border: none;
  padding: 10px;
}
.rivers-card {
  margin: auto;
  width: 40%;
  border: none;
  padding: 10px;
} 
.camping-card{
  margin: auto;
  width: 40%;
  border: none;
  padding: 10px;
}
.logo{
  margin: auto;
  width: 5%;
  border: none;
  padding: 10px;
}
.rapids-card {
  margin: auto;
  width:40%;
  border: none;
  padding: 10px;
}
.msg{
  text-align: center;
  width: 90%;
  border: none;
  padding:10px;
}
h4 {
  text-align: center;
  width: 98%;
  border: none;
  padding:10px;
}
.home-title {
  text-align: center;
  width: 95.5%;
  border: none;
  padding:10px;
}
hero-img {
  margin: center;
  width: 60%;
  border: none;
  padding:10px;
}
.button-box {
  text-align: center;
  width: 96%;
  border: none;
  padding:10px;
}
.social {
  text-align: center;
  width: 90%;
  border: none;
  padding:10px;
}
h3 {
  text-align: center;
  width: 90%;
  border: none;
  padding:10px;
}
nav {
  text-align: center;
  width: 90%;
  border: none;
  padding:10px;
}
