body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
p {
  color: red;
  text-align: center;
}
.icon {
  margin: left;
  width: 5%;
  border: none;
  padding: 10px;
}
.rivers-card {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
} 
.camping-card{
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}
.logo{
  margin: auto;
  width: 5%;
  border: none;
  padding: 10px;
}
.rapids-card {
  margin: auto;
  width:50%;
  border: none;
  padding: 10px;
}
.msg{
  text-align: center;
  width: 80%;
  border: none;
  padding:10px;
}
.home-title {
  text-align: center;
  width: 80%;
  border: none;
  padding:10px;
}
.hero {
  margin: auto;
  width: 80%;
  border: none;
  padding:10px;
}

