@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&family=Inter&display=swap');

h1{
    text-align: center;
    font-family: 'Andrada Pro', sans-serif;
}
p{
    color: red;
    font-family: 'Arial', Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
body{
    background-color: blanchedalmond;
}
