@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&family=Inter&display=swap');

h1{
    text-align: center;
    font-family: 'Andrada Pro', sans-serif;
}
p{
    color: red;
    font-family: 'Arial', Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
body{
    background-color: gainsboro;
}
details {
    border-radius: 10px;
    overflow: hidden;
    padding: 0 0 1em 0;
    margin: 1rem 0;
  }
  summary {
    color: #fcfbfb;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #64919f;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Open Sans', 'Helvetica', 'sans-serif';
  }
  details[open] summary::after {
    content: "\276F";
    transform: rotate(90deg);
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  
  details p {
    margin: 0.5em 0;
    line-height: 1.2em;
    background-color: rgba(196 207 207 / 0.7);
    padding: 1em;
    margin: 0;
  }
  footer {
    color: black;
    text-align: center;
  }