/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #396E94   ;
  --secondary-color: #E7C24F ;
  --accent1-color: #A43312;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Andada Pro";
  --paragraph-font: Inter;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;

}

#content {
  max-width: 1600px;
  margin: 0 auto;

}

nav a {
  text-align: center;
  color: #73d3dd;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  color: #ffffff;

  border-bottom: solid 1px #ffffff;
}

header {
  background-color: #396E94;
  display: grid;
  grid-template-columns: 150px auto;



}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-around;

}

body {
  background-color: aquamarine;
  font-family: 'Andada Pro', serif;
  font-size: 22px;
  margin: 0;
  padding: 0;

}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  text-align: center;
  margin-top: 400px;
}

.home-title {
  color: black;
  font-family: 'Andada Pro', serif;
  font-size: 2em;
  margin-top: 10px;
}

h4 {
  color: #ffffff;
  margin-bottom: 15px;
}

.start,
.get_started {
  background-color: #73d3dd;
  text-decoration: none;
  font-family: 'Andada Pro', serif;
  font-size: 18px;
  padding: 15px 30px;
  color: #000000;
  margin-top: 50px;
  border-radius: 5px;

}

.start:hover,
.get_started:hover {
  background-color: #396E94;
  color: #fcfbfb;
}

body {
  background-color: aquamarine;
  font-family: 'Andada Pro', serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.msg h2 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.msg p {
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
  display: block;

}

footer {
  background-color: #3e3e3e;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

footer h3 {
  color: #fcfbfb;
}

footer a {
  color: #fcfbfb;
  text-decoration: none;
}

footer a:hover {
  color: #000000;
}

footer .social img {
  padding-top: 15px;

}

.msg {

  background-color: aquamarine;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 1/10;
  grid-row: 1/3;
  text-align: center;

}
.money-title{
  text-align: center;
}
.home-grid{
  text-align: center;
}
.dollar{
  text-align: center;
}
.dollar-title{
  text-align: center;
}
p{
  text-align: center;
}
